.number {
    margin: 2em 2em 2em 0;
}

.tableContainer {
    Overflow:hidden;
    height:700px;
    display:none;
}

.table {
    /* border-collapse:separate; */
    border: 2px;;
}

th {
    position: sticky;
    top: 0;
    background-color: #F9F8F8;
    /* border-bottom: 2px solid #EB9486; */
    padding: 15px;
}

/* thead {
    border-collapse:separate;
} */

.table, th, td {
    border: 1px solid;
    border-collapse:separate;
}

td {
    padding:3px;
}


